.checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid #9abbce;
  border-radius: 2px;
  margin-right: 10px;
}

.checked {
  border-color: #2196f3;
  background: url('./shape.svg') no-repeat center center;
}
